{% assign variant_images = product.images | map: 'src' %}
{% assign product_tags = product.metafields.custom.product_tag %}

<section class="product-section">
  <div class="product-gallery" x-data="Slider()">
    <div class="custom-slider" x-ref="slider">
      {% for image in variant_images %}
        <div class="custom-slide">
          <img class="product-image" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <div class="indicator">
      <button class="custom-slider-button" @click="prev()">❮</button> <span x-text="`${active} / ${total}`"></span>
      <button class="custom-slider-button" @click="next()">❯</button>
    </div>
  </div>
  <div class="product-overview">
    <p>{{ product_tags }}</p>
    {% assign my_array = 'элемент1, элемент2, элемент3' %}

    {% if my_array.size > 1 %}
      <p>{{ my_array }}</p>
    {% endif %}
  </div>
</section>
