.product-section {
  width: 375px;
  padding: 16px;
  margin: 0 auto;
}

.product-gallery {
  height: 488px;
  margin: 0 auto;

  .custom-slider {
    height: 458px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  .custom-slide {
    min-width: 100%;
    transition: opacity 0.3s ease-in-out;

    .product-image {
      cursor: grab;
      width: 100%;
      height: auto;
    }
  }

  .indicator {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 91px;
    height: 22px;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;

    .custom-slider-button {
      cursor: pointer;
      color: #000;
      border: none;
      background: none;
    }
  }
}

.product-overview {
  .product-title {
    text-transform: uppercase;
  }

  .product-price-wrapper {
    display: flex;

    .product-price {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }

    .compare-at-price {
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: line-through;
      color: #898989;
      margin-right: 6px;
    }

    .sale-label {
    }

    .discount-label {
    }
  }
}
