.product-section {
  width: 375px;
  padding: 16px;
  margin: 0 auto;
}

.product-gallery {
  height: 488px;
  margin: 0 auto;

  .custom-slider {
    height: 458px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  .custom-slide {
    margin: 0;
    min-width: 100%;
    transition: opacity 0.3s ease-in-out;

    .product-image {
      cursor: grab;
      width: 100%;
      height: auto;
    }
  }

  .indicator {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 91px;
    height: 22px;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;

    .custom-slider-button {
      cursor: pointer;
      color: #000;
      border: none;
      background: none;
    }
  }
}

.product-overview {
  margin-top: 26px;

  .product-tag {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #898989;
    margin: 0;
  }

  .product-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin: 14px 0 0 0;
  }

  .product-price-wrapper {
    display: flex;
    align-items: center;
    height: 24px;
    margin-top: 10px;

    p {
      height: 24px;
    }
    .compare-at-price {
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: line-through;
      color: #898989;
      margin-right: 6px;
    }

    .product-price {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin-right: 10px;

    }

    .sale-label {
      padding: 6px 10px;
      width: 43px;
      height: 24px;
      background: #000000;
      border-radius: 150px;
      font-size: 10px;
      line-height: 10px;
      color: white;
      margin-right: 7px;
    }

    .product-discount {
      padding: 6px 10px;
      width: 66px;
      background: #e90000;
      border-radius: 150px;
      font-size: 10px;
      line-height: 10px;
      color: #ffffff;
    }
  }

  .product-shipping {
    font-size: 10px;
    line-height: 11px;
    color: #898989;
    margin: 23px 0 0 0;

    span {
      text-decoration-line: underline;
    }
  }
  
  .product-desc {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 20px 0 0 0;
  }
}
